@use 'src/styles/vars';

.search-form {
  width: 90%;
  height: 5rem;
  background-color: white;
  margin: 1rem auto;
  border: 1px solid vars.$color-borders;
  border-radius: 2px;
  border-bottom: 3px solid vars.$color-borders;
  border-right: 2px solid vars.$color-borders;
  
}

.search-input {
  width: 98%;
  height: 3rem;
  border: 1px solid vars.$color-borders;
  border-radius: 2px;
  margin: 1rem auto;
  padding-left: 0.5rem;
}
