@use 'src/styles/vars';

body {
  background-color: rgb(165, 161, 161);
}

.app {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: vars.$color-background;
  padding: 20px 0;
}

.logo {
  max-width: 150px;
}
